@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300);
body {
  width: 100%;
  height: 100%;
  background-color: #04293A;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  /* color: rgb(87, 86, 86); */
  color: #fff;
}

.widget-container {
  box-shadow: 0 4px 8px 0 rgba(20, 20, 20, 0.5), 0 6px 20px 0 rgba(20, 20, 20, 0.5);
  width: 612px;
  height: 412px;
  display: block;

  border-radius: 25px;
  margin: 0 auto;
}



.top-left {
  height: 60%;
  width: 50%;
  padding: 55px 0 0 70px;
  display: inline-block;
  background-color: #ff9501 ;
  border-top-left-radius: 15px;
}

.top-right {
  height: 60%;
  width: 50%;
  float: right;
  padding: 55px 0 0 0;
  background-color: #ff9501 ;
  border-top-right-radius: 15px;
}

.bottom-left {
  height: 40%;
  width: 45%;
  float: left;
  margin: 0;
  padding: 40px 0 0 50px;
  background-color: #064663;
  border-bottom-left-radius: 15px;
}

.bottom-right {
  height: 40%;
  width: 55%;
  float: right;
  padding: 25px 0 0 60px;
  background-color: #064663;
  border-bottom-right-radius: 15px;
}

h1,h2,h3,p {
  margin: 0;
  padding: 0;
}

#city {
  font-weight: 900;
}

#day {
  font-weight: 700;
  font-size: 25px;
  margin-top: 1.6rem;
  color: rgb(27, 27, 27)
}
#desc{
  font-size: 1.5rem;
}


.top-left > a {
  text-decoration: none;
  color: white;
}

#weather-status {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
}

.top-right > img {
  width: 120px;
  height: 120px;
  display: block;
  margin: 15px auto 0 auto;
}


/* Horizontal-Half-divider */
.horizontal-half-divider {
  width: 100%;
  height: 3px;
  margin-top: 0px;
  background-color:  #04293A;
}

.vertical-half-divider {
  width: 3px;
  position: absolute;
  height: 167px;
  background-color:  #04293A;
  float: right;
  display: inline-block;
  padding: 0;
}


/* Bottom-left CSS */
#temperature, #celsius,
#temp-divider, #fahrenheit {
  display: inline;
  vertical-align: middle;
}

#temperature {
  font-size: 60px;
  font-weight: 800;
  margin-right: 5px;
}

#celsius {
  margin-right: 10px;
}

#celsius {
  font-size: 30px;
  font-weight: 800;
  color: #b0bec5;
}

.realfeel{
  color: #b0bec5; 
  margin-bottom: -8px;
}


/* Bottom-Right CSS */
.other-details-key {
  float: left;
  font-size: 16px;
  font-weight: 300;
}

.other-details-values {
  float: left;
  font-size: 16px;
  font-weight: 400;
  margin-left: 40px;
}






.Navbar_search{
  width : 100%;
  background-color: #02131b;
  padding : 0;
  margin :0;
  padding: 1.6rem ;
  margin-bottom: 6rem;
}
nav a{
  display : inline-block;
  margin-left: 2.5rem;
  color:white;
  font-size: 1.5rem;
  text-decoration: none;
}
nav a:hover{
  color: #ff9501;
}
form{
  display : inline-block;
  float : right;
  margin-right: 2.5rem
}
form input {
  height: 2.3rem;
  padding-left: .5rem;
  border: none;
  border-radius: 5px;
}
form button{
  background-color: #064663;
  height: 2.4rem;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;
  color: #fff;
}
